.container-play {
  height: 100vh;
  background-color: rgb(16, 17, 33);
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.question-body {
  width: 100%;
  padding: 10px;
}

.question-body h3 {
  text-align: center;
  font-size: 24px;
  margin: 30px 0;
}

.option-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 50px;
  width: 90%;
  padding: 10px 0;
}

.option-item {
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
}

.option-item button {
  width: 100%;
  padding: 30px 0;
  font-size: 20px;
  font-weight: 500;
  color: black;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.option-item:nth-child(1) {
  background-color: rgb(98, 98, 255);
}
.option-item:nth-child(2) {
  background-color: rgb(24, 179, 207);
}
.option-item:nth-child(3) {
  background-color: rgb(220, 197, 46);
}
.option-item:nth-child(4) {
  background-color: rgb(210, 44, 116);
}

button:active {
  background-color: rgb(71, 69, 77);
}
