.result {
  width: 300px;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
}

.btn-result {
  width: 130px;
  padding: 5px 10px;
  border: none;
  background-color: rgb(205, 99, 57);
  color: white;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.link-result {
  display: block;
  width: 130px;
  margin: 0 auto;
}

.result-body {
  margin-top: 20px;
}

.result-body h2 {
  font-size: 30px;
}

.result-body p {
  font-size: 18px;
}

.result h1 {
  font-size: 50px;
  color: rgb(66, 239, 66);
}
